{{ define "main" }}
<!-- Main -->
<main>
  <div class="w-full">
    <img class="sm:px-32 px-4 sm:pt-20 pt-32 w-full" src="https://mzainulmuttaqin.github.io/Zalepik_Images/img_zalepik_bisnis_melesat_website_hebat.png" alt="" srcset="">
  </div>
  <div class="zalepik_wrap_title_section">
    <div id="title_header_home" class="zalepik_wrap_large_area text-center">
      <h1 class="col-start-1 col-end-13 zalepik_title_border zalepik_title_shadow_2"
        title="Paket Lengkap Jasa Pembuatan Website">Paket Lengkap Jasa Pembuatan Website</h1>
    </div>
    <div id="software"
      class="zalepik_small_list_card_icon bg-white sm:gap-y-12 gap-y-4 gap-x-4 col-start-1 col-end-13 grid grid-cols-12 sm:p-8 p-2 sm:mx-10 mx-2 rounded-3xl text-center">
      <a
        class="sm:col-start-1 sm:col-end-4 col-start-1 col-end-13 bg-cyan_gray_light rounded-tl-3xl sm:rounded-tl-none">
        <div>
          <img class="rounded-2xl"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_domain_zalepik.svg" alt="">
        </div>
        <div>
          <h1>
            <b>Gratis Domain</b>
          </h1>
          <div>Tidak perlu pusing memikirkan harga domain tambahan. Paket jasa kami sudah termasuk dengan nama domain
            website anda.</div>
        </div>
      </a>
      <a
        class="sm:col-start-4 sm:col-end-7 col-start-1 col-end-13 bg-cyan_gray_light rounded-tr-3xl sm:rounded-tr-none">
        <div>
          <img class="rounded-2xl"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_email_bisnis_zalepik.svg" alt="">
        </div>
        <div>
          <h1>
            <b>Gratis Email Bisnis</b>
          </h1>
          <div>Tidak semua penyedia jasa pembuatan website menyediakan fasilitas ini. Namun kami berani memberikan
            fasilitas ini secara gratis!
            alamatemail@biniskamu.com</div>
        </div>
      </a>
      <a class="sm:col-start-7 sm:col-end-10 col-start-1 col-end-13 bg-cyan_gray_light">
        <div>
          <img class="rounded-2xl"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_responsif_design_zalepik.svg" alt="">
        </div>
        <div>
          <h1>
            <b>Responsif/Mobile Friendly</b>
          </h1>
          <div>Jumlah pengguna handphone lebih besar daripada pengguna laptop. Pastikan website anda tampil baik pada
            keduanya.</div>
        </div>
      </a>
      <a class="sm:col-start-10 sm:col-end-13 col-start-1 col-end-13 bg-cyan_gray_light">
        <div>
          <img class="rounded-2xl" src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_seo_zalepik.svg"
            alt="">
        </div>
        <div>
          <h1>
            <b>SEO Friendly</b>
          </h1>
          <div>Punya website saja tidak cukup bila tidak ramah dengan mesin pencari google, tentu anda ingin website
            anda dapat mudah ditemukan di google.</div>
        </div>
      </a>
      <a class="sm:col-start-1 sm:col-end-4 col-start-1 col-end-13 bg-cyan_gray_light">
        <div>
          <img class="rounded-2xl"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_server_hosting_cloud_zalepik.svg"
            alt="">
        </div>
        <div>
          <h1>
            <b>Server/Hosting</b>
          </h1>
          <div>Anda tidak perlu repot untuk riset harga hosting di sana-sini. Paket ini sudah termasuk biaya langganan
            server/hosting selama satu tahun. (Lama masa hosting/server tergantung paket yang anda pesan di kami).</div>
        </div>
      </a>
      <a class="sm:col-start-4 sm:col-end-7 col-start-1 col-end-13 bg-cyan_gray_light">
        <div>
          <img class="rounded-2xl" src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_ssl_zalepik.svg"
            alt="">
        </div>
        <div>
          <h1>
            <b>Sertifikat SSL/Scurity</b>
          </h1>
          <div>Sudah tidak jaman, website tidak tersertifikasi aman SSL. Website anda besar kemungkinan tidak dipercaya
            oleh pengunjung bila tidak memiliki SSL.</div>
        </div>
      </a>
      <a class="sm:col-start-7 sm:col-end-10 col-start-1 col-end-13 bg-cyan_gray_light">
        <div>
          <img class="rounded-2xl"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_maintenace_support_zalepik.svg" alt="">
        </div>
        <div>
          <h1>
            <b>Mantenance/Support</b>
          </h1>
          <div>Bebas dan berbahagialah mengurusi bisnis anda, ada masalah terkait website. Hubungi saja kami. Kami siap
            membantu! Free backup bulanan untuk website anda.</div>
        </div>
      </a>
      <a class="sm:col-start-10 sm:col-end-13 col-start-1 col-end-13 bg-cyan_gray_light">
        <div>
          <img class="rounded-2xl"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_instagram_shopping_zalepik.svg" alt="">
        </div>
        <div>
          <h1>
            <b>Instagram Shopping</b>
          </h1>
          <div>Siapa yang tidak ingin daftar produknya tampil di instagram shop! Fitur keren dan peningkat citra
            profesional akun IG bisnis ini tentu sangat menarik. Syarat dan ketentuan berlaku untuk fasilitas ini.</div>
        </div>
      </a>
      <a
        class="sm:col-start-4 sm:col-end-7 col-start-1 col-end-13 bg-cyan_gray_light rounded-bl-3xl sm:rounded-bl-none">
        <div>
          <img class="rounded-2xl"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_video_tutorial_zalepik.svg" alt="">
        </div>
        <div>
          <h1>
            <b>Video Tutorial</b>
          </h1>
          <div>Bingung cara posting hubungi kami, kami akan siapkan video tutorialnya.</div>
        </div>
      </a>
      <a
        class="sm:col-start-7 sm:col-end-10 col-start-1 col-end-13 bg-cyan_gray_light rounded-br-3xl sm:rounded-br-none">
        <div>
          <img class="rounded-2xl"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_gratis_logo_zalepik.svg" alt="">
        </div>
        <div>
          <h1>
            <b>Gratis Logo</b>
          </h1>
          <div>Gratis logo untuk bisnis/instansi/organisasi anda. *Untuk permintaan logo premium hubungi kami.</div>
        </div>
      </a>
    </div>
  </div>

  <div id="software"
    class="zalepik_price_list justify-center col-start-1 col-end-13 grid grid-cols-12 gap-8 sm:py-8 sm:px-32 sm:mx-10 mx-2 rounded-3xl text-center">
    <div id="title_header_home" class="zalepik_wrap_large_area text-center zalepik_title_harga">
      <h1 class="col-start-1 col-end-13 zalepik_title_border sm:mb-2 mb-0 zalepik_title_shadow_2 no_after"
        title="Pilih Paket & Harga">Pilih Paket & Harga</h1>
      <h1 class="col-start-1 col-end-13 zalepik_title_border zalepik_title_shadow_2" title="Sesuai Kebutuhan">Sesuai
        Kebutuhan</h1>
      <div class="col-start-1 col-end-13 h-12"></div>
      <div class="sm:col-start-3 sm:col-end-11 col-start-2 col-end-12">Harga solutif disesuaikan dengan kebutuhan yang
        diperlukan untuk bisnis anda. Silahkan hubungi kami melalui whatsapp, terkadang kami memiliki promo diskon.
      </div>
    </div>
    <a class="sm:col-start-1 sm:col-end-5 col-start-2 col-end-12 bg-white rounded-3xl" href="https://wa.me/6281330876992?text=Assalamu%27alaikum...%0A%0A%F0%9F%91%8BHalo...%20Saya%20ingin%20memesan%20pembuatan%20website%0A%0A">
      <div>
        <img class="rounded-2xl" src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-price-landing-page.png"
          alt="">
      </div>
      <div>
        <h1>
          <b class="zalepik_title_card_list">Landing Page</b>
        </h1>
        <div>
          Sebuah halaman tunggal untuk landasan promosi, pemasaran, iklan, atau kebutuhan publikasi anda lainnya.
        </div>
        <div class="zalepik_mulai_dari py-12">Mulai dari:</div>
        <h3>Rp. 650 ribu</h3>
        <div><div
            class="zalepik_button_blue py-4 px-10 zalepik_button_banner_home mx-auto inset-x-0 w-56 text-center rounded-lg">Pesan Sekarang</div></div>
      </div>
    </a>
    <a class="sm:col-start-5 sm:col-end-9 col-start-2 col-end-12 bg-white rounded-3xl" href="https://wa.me/6281330876992?text=Assalamu%27alaikum...%0A%0A%F0%9F%91%8BHalo...%20Saya%20ingin%20memesan%20pembuatan%20website%0A%0A">
      <div>
        <img class="rounded-2xl" src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-price-company-profile.png"
          alt="">
      </div>
      <div>
        <h1>
          <b class="zalepik_title_card_list">Company Profile</b>
        </h1>
        <div>
          Website lengkap untuk bisnis/perusahaan Anda. Berisi halaman beranda, profil, produk/layanan, galeri, dll.
        </div>
        <div class="zalepik_mulai_dari py-12">Mulai dari:</div>
        <h3>Rp. 1,5 JT</h3>
        <div><div
            class="zalepik_button_blue py-4 px-10 zalepik_button_banner_home mx-auto inset-x-0 w-56 text-center rounded-lg"
            >Pesan Sekarang</div></div>
      </div>
    </a>
    <a class="zalepik_hightlight zalepik_cta sm:col-start-9 sm:col-end-13 col-start-2 col-end-12 bg-white rounded-3xl" href="https://wa.me/6281330876992?text=Assalamu%27alaikum...%0A%0A%F0%9F%91%8BHalo...%20Saya%20ingin%20memesan%20pembuatan%20website%0A%0A">
      <div>
        <img class="rounded-2xl" src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-price-online-shop_2.png"
          alt="">
      </div>
      <div>
        <h1>
          <b class="zalepik_title_card_list">ECommerce</b>
        </h1>
        <div>
          Company/bisnis profile plus fitur checkout, whistlist, & pembayaran online secara otomatis. Terintegrasi
          Instagram shopping!
        </div>
        <div class="zalepik_mulai_dari py-12">Mulai dari:</div>
        <h3>Rp. 1,5 JT</h3>
        <div><div
            class="zalepik_button_blue text-blue py-4 px-10 zalepik_button_banner_home mx-auto inset-x-0 w-56 text-center rounded-lg"
            >Pesan Sekarang</div></div>
      </div>
    </a>
    <a class="sm:col-start-3 sm:col-end-7 col-start-2 col-end-12 bg-white rounded-3xl" href="https://wa.me/6281330876992?text=Assalamu%27alaikum...%0A%0A%F0%9F%91%8BHalo...%20Saya%20ingin%20memesan%20pembuatan%20website%0A%0A">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-price-illustration-online-course_2.png" alt="">
      </div>
      <div>
        <h1>
          <b class="zalepik_title_card_list">Online Course</b>
        </h1>
        <div>
          Website untuk pembelajaran secara online. Terdapat fitur pendaftaran, progress belajar, quis, pengumpulan
          tugas, dan laporan hasil belajar.
        </div>
        <div class="zalepik_mulai_dari py-12">Mulai dari:</div>
        <h3>Rp. 2 JT</h3>
        <div><div
            class="zalepik_button_blue py-4 px-10 zalepik_button_banner_home mx-auto inset-x-0 w-56 text-center rounded-lg"
            >Pesan Sekarang</div></div>
      </div>
    </a>
    <a class="sm:col-start-7 sm:col-end-11 col-start-2 col-end-12 bg-white rounded-3xl" href="https://wa.me/6281330876992?text=Assalamu%27alaikum...%0A%0A%F0%9F%91%8BHalo...%20Saya%20ingin%20memesan%20pembuatan%20website%0A%0A">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-price-interactive-website.png" alt="">
      </div>
      <div>
        <h1>
          <b class="zalepik_title_card_list">Butuh Website Custom</b>
        </h1>
        <div>
          Hubungi kami untuk pemesanan website dengan sistem khusus yang berbeda dengan jenis website sebelumnya. Gratis
          konsultasi!
        </div>
        <div class="zalepik_mulai_dari py-12">Mulai dari:</div>
        <h3>...</h3>
        <div><div
            class="zalepik_button_blue py-4 px-10 zalepik_button_banner_home mx-auto inset-x-0 w-56 text-center rounded-lg"
            >Hubungi Kami</div></div>
      </div>
    </a>
    <a class="col-start-1 col-end-13 sm:py-12">
    </a>
  </div>

  <div id="software"
    class="zalepik_list_mengapa_pilih_kami col-start-1 col-end-13 grid grid-cols-12 gap-1 bg-cyan_gray sm:p-8 p-2 mt-24 sm:mx-10 mx-2 rounded-3xl text-center">
    <div id="title_header_home" class="zalepik_wrap_large_area text-center">
      <h1 class=" col-start-1 col-end-13 zalepik_title_border zalepik_title_shadow_2"
        title="MENGAPA MEMILIH JASA KAMI?">Mengapa Memilih Jasa Kami?</h1>
    </div>
    <a
      class="sm:col-start-1 sm:col-end-5 col-start-1 col-end-7 bg-white sm:rounded-tl-3xl rounded-tl-xl py-4 sm:px-8 px-2">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_Team Profesional.svg" alt="">
      </div>
      <div>
        <h1>
          <b>Team Profesional</b>
        </h1>
        <div>Dikerjakan oleh para praktisi berpengalaman pada bidangnya desain dan aplikasi.</div>
      </div>
    </a>
    <a
      class="sm:col-start-5 sm:col-end-9 col-start-7 col-end-13 bg-white sm:rounded-none rounded-tr-xl py-4 sm:px-8 px-2">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_Support Terbaik.svg" alt="">
      </div>
      <div>
        <h1>
          <b>Bantuan Tinggi</b>
        </h1>
        <div>Dukungan penuh dari masa project masih building sampai project selesai dikerjakan.</div>
      </div>
    </a>
    <a
      class="sm:col-start-9 sm:col-end-13 col-start-1 col-end-7 bg-white sm:rounded-tr-3xl rounded-none py-4 sm:px-8 px-2">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_Keamanan Terjamin.svg" alt="">
      </div>
      <div>
        <h1>
          <b>Keamanan Terjamin</b>
        </h1>
        <div>Keamanan data anda adalah milik anda, kami akan berupaya menjaga data-data anda agar tidak diretas atau
          disalah gunakan oleh pihak-pihak tertentu.</div>
      </div>
    </a>
    <a
      class="sm:col-start-1 sm:col-end-5 col-start-7 col-end-13 bg-white sm:rounded-bl-3xl rounded-none py-4 sm:px-8 px-2">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_Pelayanan Ramah & Menyenangkan.svg"
          alt="">
      </div>
      <div>
        <h1>
          <b>Pelayanan Ramah & Menyenangkan</b>
        </h1>
        <div>Siapa pelanggan yang ingin dibentak-bentak atau dicuekin? Mari tersenyum bersama kami.</div>
      </div>
    </a>
    <a
      class="sm:col-start-5 sm:col-end-9 col-start-1 col-end-7 bg-white sm:rounded-none rounded-bl-xl py-4 sm:px-8 px-2">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_Desain Berkualitas.svg" alt="">
      </div>
      <div>
        <h1>
          <b>Desain Berkualitas</b>
        </h1>
        <div>Bukan gaya kami membuat karya asal-asalan, paket termurah pun tetap kami perhatikan.</div>
      </div>
    </a>
    <a
      class="sm:col-start-9 sm:col-end-13 col-start-7 col-end-13 bg-white sm:rounded-br-3xl rounded-br-xl py-4 sm:px-8 px-2">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/img_icon_Banyak Gratisnya!k.svg" alt="">
      </div>
      <div>
        <h1>
          <b>Banyak Gratisnya!</b>
        </h1>
        <div>Siapa yang tidak mau hadiah gratis secara cuma-cuma? Gratis logo, domain, ssl, dan email bisnis.</div>
      </div>
    </a>
  </div>
  </div>

  <!-- Portfolio -->
  <div class="zalepik_wrap_title_section">
    <div id="title_header_home" class="zalepik_wrap_large_area text-center z_slider">
      <h1 class="col-start-1 col-end-13 zalepik_title_border zalepik_title_shadow_2" title="Karya Kami">Karya Kami</h1>
    </div>
    <div id="services" class="col-start-1 col-end-13">
      <div class="grid grid-cols-12 text-center zalepik-img-list variable slider">
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-1 col-end-13"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-uiux-full-growcer.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-1 col-end-13"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-uiux-full-usg-cover.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-1 col-end-13"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-uiux-full-usg-1.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-1 col-end-13"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-uiux-full-radyalabs.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-1 col-end-7"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-uiux-full-zenvidio-login.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-7 col-end-13"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-uiux-full-zhop-dashboard.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-1 col-end-7 sm:col-end-4"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/portfolio/zalepik_portfolio_dribbble_invite_inspire_by...png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="sm:col-start-4 sm:col-end-7 col-start-7 col-end-13"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/portfolio/zalepik_portfolio_zhop_sm.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="sm:col-start-7 sm:col-end-10 col-start-1 col-end-7"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/portfolio/zalepik_portfolio_Zalepik_Website1.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="sm:col-start-10 col-end-13 col-start-7"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/portfolio/zalepik_porfolio_4.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-1 col-end-7 sm:col-end-4"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-uiux-full-cocolette.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="sm:col-start-4 sm:col-end-7 col-start-7 col-end-13"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/portfolio/zalepik_portfolio_All_Gimpscape_Banner.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="sm:col-start-7 sm:col-end-10 col-start-1 col-end-7"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/portfolio/todolist.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="sm:col-start-10 col-end-13 col-start-7"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/portfolio/zalepik_portfolio_mengarungi_samudra.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-1 col-end-7"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-uiux-full-growcer-color-palette.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-7 col-end-13"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-uiux-full-growcer-mobile.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="col-start-1 col-end-13"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-uiux-full-growcer-desktop.png">
        </a>
        <a href="http://" target="_blank" rel="noopener noreferrer">
          <img class="rounded-and-more sm:mt-16 mt-4 mb-16 sm:mb-56 sm:col-start-2 sm:col-end-12 col-start-1 col-end-13"
            src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-close-content-masih-ada-lagi.png">
        </a>
      </div>
    </div>
  </div>

  {{- partial "clients.html" . -}}
</main>
<!-- End Main -->


<div id="software"
  class="mt-32 col-start-1 col-end-13 grid grid-cols-12 gap-2 z_bg_gradient sm:p-8 p-2 sm:mx-10 mx-2 rounded-3xl text-center">
  <div class="col-start-1 col-end-13">
  <img class="sm:rounded-xl rounded-2xl" style="width: 100%; margin: 0px !important; max-width: 100%;" src="https://mzainulmuttaqin.github.io/Zalepik_Images/img_zalepik_success.png" alt="" srcset="">
</div>
  <div id="title_header_home" class="zalepik_wrap_large_area text-center">
    <h1 class="col-start-1 col-end-13 zalepik_title_border zalepik_title_shadow_2 text-white"
      title="KAMI MEMAHAMI, KESUKSESAN BISNIS ANDA DI Dunia DIGITAL SANGATLAH BERHARGA!">Kami memahami, Kesuksesan
      Bisnis Anda di dunia digital sangatlah berharga!</h1>
    <p class="col-start-1 col-end-13 text-white">Mari membangun keberhasilan digital bisnis Anda bersama kami!</p>
    <div class="col-start-1 col-end-13">
      <a class="zalepik_button_blue border border-white zalepik_button_yellow inline-block py-4 px-10 zalepik_button_banner_home mx-auto inset-x-0 w-56 text-center rounded-lg"
        href="http://localhost:1313//hubungi/" target="_blank">Mulai dari sini ></a>
      <a class="zalepik_button_blue zalepik_button_cyan border border-white text-white zalepik_button_green inline-block py-4 px-10 zalepik_button_banner_home mx-auto inset-x-0 w-56 text-center rounded-lg"
        href="http://localhost:1313//hubungi/" target="_blank">Konsultasi Gratis</a>
    </div>
  </div>
</div>

<!-- Pertanyaan -->
{{- partial "pertanyaan.html" . -}}
<!-- End Pertanyaan -->

<!-- Layanan Kami -->
<div id="title_header_home" class="zalepik_wrap_large_area text-center grid grid-cols-12">
  <h1 class="col-start-1 col-end-13 zalepik_title_border zalepik_title_section zalepik_title_shadow_2"
    title="LAYANAN KAMI LAINNYA">Layanan Kami Lainnya </h1>
</div>
<div class="grid grid-cols-12 text-center bg-cyan_gray">
  <div id="software"
    class="col-start-1 col-end-13 grid sm:grid-cols-12 grid-cols-1 gap-2 bg-cyan_gray sm:p-8 p-2 sm:mx-10 mx-2 mb-32 rounded-3xl text-center">
    <a class="col-start-1 col-end-2 sm:col-start-1 sm:col-end-4 bg-white rounded-3xl duration-100 hover:text-blue-500 hover:shadow-8xl"
      href="../services/development/">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-header-development-thumbnail.png" alt="">
      </div>
      <div>
        <h1>
          <b>Development Website/Aplikasi</b>
        </h1>
      </div>
    </a>
    <a class="col-start-1 col-end-2 sm:col-start-4 sm:col-end-7 bg-white rounded-3xl duration-100 hover:text-blue-500 hover:shadow-8xl"
      href="../services/uiux/">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-header-uiux-thumbnail.png" alt="">
      </div>
      <div>
        <h1>
          <b>Desain UI/UX</b>
        </h1>
      </div>
    </a>
    <a class="col-start-1 col-end-2 sm:col-start-7 sm:col-end-10 bg-white rounded-3xl duration-100 hover:text-blue-500 hover:shadow-8xl"
      href="../services/illustration/">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-header-illustration-thumbnail.png" alt="">
      </div>
      <div>
        <h1>
          <b>Desain Ilustrasi</b>
        </h1>
      </div>
    </a>
    <a class="col-start-1 col-end-2 sm:col-start-10 sm:col-end-13 bg-white rounded-3xl duration-100 hover:text-blue-500 hover:shadow-8xl"
      href="../services/icon_and_logo/">
      <div>
        <img class="rounded-2xl"
          src="https://mzainulmuttaqin.github.io/Zalepik_Images/img-service-header-icon-and-logo-thumbnail.png" alt="">
      </div>
      <div>
        <h1>
          <b>Desain Ikon dan Logo</b>
        </h1>
      </div>
    </a>
  </div>
</div>
<!-- End Layanan Kami -->
{{- partial "call_to_action.html" . -}}
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{{ end }}