    <!-- CTA -->
    <div class="zalepik_wrap_title_section pb-0">
        <div id="title_header_home" class="zalepik_wrap_large_area text-center pb-0">
            <h1 class="col-start-1 col-end-13 zalepik_title_border sm:mb-2 mb-0 zalepik_title_shadow_2 no_after" title="Tertarik Go Digital">Tertarik Go Digital</h1>
            <h1 class="col-start-1 col-end-13 zalepik_title_border text-green-500 zalepik_title_shadow" title="Bersama Kami">Bersama Kami</h1>
            <p class="col-start-1 col-end-13 mt-8 zalepik_line_height_24">Mari mengembangkan bisnis dan kebutuhan lain anda dengan teknologi bersama kami!</p>
        </div>
    </div>
    <div class="w-full relative">
        <a href="{{ .Site.BaseURL }}/hubungi/"
            class="zalepik_hubungi zalepik_button_blue absolute top-0 py-4 px-10 mb-64 mx-auto inset-x-0 w-56 text-center rounded-lg zalepik_index9">Mari Bekerjasama →</a></li>
        <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/img_let_start_collabs.png" alt="" srcset=""
            class="w-full let_start_collabs hidden md:block">
        <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/img_let_start_collabs_sm.png" alt="" srcset=""
            class="w-full let_start_collabs block md:hidden">
    </div>
    <!-- End CTA-->