<!-- ... -->
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link href="/css/tailwind/tailwind.css" rel="stylesheet">
<link href="/css/tailwind/custom.css" rel="stylesheet">
<link href="/css/tailwind/tailwind_sm.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
<!-- Add the slick-theme.css if you want default styling -->
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
<title>
    {{ if .IsHome }}
        {{.Site.Title}} | Zalepik.com
    {{ else if .IsPage }}
        {{.Title}} | Zalepik.com
    {{ else if .Params.zlist }}
        {{.Title}} | Zalepik.com
    {{ else if .Params.writer }}
        {{.Params.zname_writer}} | Zalepik.com
    {{ else if .Page }}
        {{.Title}} | Zalepik.com
    {{ else }}
        Error 404 | Zalepik.com
    {{ end }}
</title>
<link rel="icon" type="image/png" href="https://zenzalepik.github.io/Zalepik_Images/logo-color-small.png">
<link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
{{ if or (.Params.zartikel) (.Params.zvideo) }}
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    {{/*  <link href="/css/rainbow.css" rel="stylesheet" type="text/css">  */}}
    <link href="/css/paraiso-dark.css" rel="stylesheet" type="text/css">
{{ end }}
<style>
    /*  @media only screen and (max-width: 640px) {
        header>img {
            content: url("https://zenzalepik.github.io/Zalepik_Images/slider-home-1-zalepik_640px.png") !important;
        }
    }  */
</style>
{{ if .Description }}
    <meta name="description" content="{{ .Description }}"/>
{{ else if eq .Kind "section" }}
    <meta name="description" content="{{ .Summary }}"/>
{{ else }}
    <meta name="description" content="{{ .Site.Params.Description }}"/>
{{ end }}  

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XHMEH4HT62"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-XHMEH4HT62');
</script>

{{ template "_internal/opengraph.html" . }}

{{ if .IsHome }}
    <link rel="stylesheet" type="text/css" href="/css/slick-1.8.1/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick-1.8.1/slick/slick-theme.css">
    <link rel="stylesheet" type="text/css" href="/css/slider/slider_styling.css">
{{ end }}