<!-- Header -->
{{if .IsHome }}
    <header>
        <div id="zalepik_wrap_service">
            <a class="zalepik_service_item" href="{{ .Site.BaseURL }}/services/development/" target="_blank">
                <div class="zalepik_icon_service">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.18177 6.18188H20L16.3636 16.0001H2.54541L6.18177 6.18188Z" fill="#00D3BD"/>
                        <path d="M6.18177 25.8182H20L16.3636 16H2.54541L6.18177 25.8182Z" fill="#25D5E8"/>
                        <path d="M26.7274 13.4546H16.3638L19.091 20.8182H29.4547L26.7274 13.4546Z" fill="#437BFF"/>
                        <path d="M26.7274 28.1818H16.3638L19.091 20.8181H29.4547L26.7274 28.1818Z" fill="#437BFF"/>
                    </svg>                        
                </div>
                <span class="zalepik_lable_service">Pembuatan Website dan  Aplikasi</span>
            </a>
            <a class="zalepik_service_item" href="{{ .Site.BaseURL }}/services/uiux/" target="_blank">
                <div class="zalepik_icon_service">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M24 8.36353H8V19.2726H24V8.36353Z" fill="#00D3BD"/>
                        <path d="M8.0391 19.2334H23.9606L25.818 24.0098H6.18164L8.0391 19.2334Z" fill="#25D5E8"/>
                        <path d="M12 28.0001H2.54541V14.9092H12V28.0001ZM6.18177 25.8183V26.5455H8.36359V25.8183H6.18177Z" fill="#437BFF"/>
                    </svg>                                                
                </div>
                <span class="zalepik_lable_service">Analisa dan Perancangan UI/UX</span>
            </a>
            <a class="zalepik_service_item" href="{{ .Site.BaseURL }}/services/illustration/" target="_blank">
                <div class="zalepik_icon_service">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.091 21.4546H6.95604L5.45459 13.8182L17.091 5.45459V15.2986C16.9705 15.2814 16.849 15.2728 16.7273 15.2728C16.0522 15.2728 15.4048 15.541 14.9274 16.0183C14.45 16.4957 14.1819 17.1431 14.1819 17.8182C14.1819 18.4933 14.45 19.1408 14.9274 19.6181C15.4048 20.0955 16.0522 20.3637 16.7273 20.3637C16.849 20.3637 16.9705 20.355 17.091 20.3379V21.4546Z" fill="#00D3BD"/>
                        <path d="M6.95604 21.4546H17.091V26.5455H5.45459L6.95604 21.4546Z" fill="#25D5E8"/>
                        <path d="M25.2318 23.8181H16.3638V22.8636C16.9542 22.8628 17.5202 22.6279 17.9377 22.2103C18.3552 21.7928 18.59 21.2267 18.5907 20.6363C18.5901 20.0458 18.3553 19.4797 17.9378 19.0621C17.5203 18.6446 16.9542 18.4097 16.3638 18.409V9.81812L26.5456 17.1363L25.2318 23.8181Z" fill="#437BFF"/>
                        <path d="M25.2318 23.8181H16.3638V28.2727H26.5456L25.2318 23.8181Z" fill="#437BFF"/>
                    </svg>                                              
                </div>
                <span class="zalepik_lable_service">Desain Ilustrasi</span>
            </a>
            <a class="zalepik_service_item" href="{{ .Site.BaseURL }}/services/icon_and_logo/" target="_blank">
                <div class="zalepik_icon_service">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M17.8182 25.8182C23.2406 25.8182 27.6364 21.4225 27.6364 16.0001C27.6364 10.5776 23.2406 6.18188 17.8182 6.18188C12.3958 6.18188 8 10.5776 8 16.0001C8 21.4225 12.3958 25.8182 17.8182 25.8182Z" fill="#25D5E8"/>
                        <path d="M4.46582 14.0796L15.3529 3.83837L26.2401 16.6643L17.2915 24.3206L4.46582 14.0796Z" fill="#00D3BD"/>
                        <path d="M11.4109 28.3241L4.21094 21.1244L11.1535 14.1819L18.3535 21.3819L11.4109 28.3237V28.3241ZM7.45457 21.091C7.34669 21.091 7.24124 21.123 7.15154 21.1829C7.06184 21.2428 6.99192 21.328 6.95064 21.4277C6.90936 21.5274 6.89855 21.637 6.9196 21.7428C6.94065 21.8487 6.9926 21.9458 7.06888 22.0221C7.14516 22.0984 7.24235 22.1504 7.34816 22.1714C7.45397 22.1925 7.56364 22.1817 7.66331 22.1404C7.76298 22.0991 7.84817 22.0292 7.9081 21.9395C7.96804 21.8498 8.00003 21.7443 8.00003 21.6364C8.00003 21.4918 7.94256 21.353 7.84027 21.2507C7.73798 21.1484 7.59924 21.091 7.45457 21.091Z" fill="#437BFF"/>
                    </svg>                            
                </div>
                <span class="zalepik_lable_service">Desain Ikon dan Logo</span>
            </a>
        </div>

        <div class="grid grid-cols-12 zalepik_head_gradient">
            <div id="title_header_home" class="zalepik_wrap_large_area pt-8 sm:pt-16 text-center grid grid-cols-12 pb-0 zalepik_index9" style="z-index: 9 !important;">
                <h1 class="col-start-1 col-end-13 zalepik_title_border zalepik_title_section zalepik_title_shadow_2 sm:pb-0 pb-2 text-green-500 no_after" title="Membantu Anda Menghadapi" style="z-index: 9 !important;">Membantu <!--<br class="block lg:hidden">-->Anda Menghadapi</h1>
                <h1 class="col-start-1 col-end-13 zalepik_title_border zalepik_title_section zalepik_title_shadow_2 text-blue-500" title="Digitalisasi Kehidupan" style="z-index: 9 !important;">Digitalisasi Kehidupan</h1>
                <p class="sm:col-start-3 sm:col-end-11 col-start-1 col-end-13 mt-8 zalepik_line_height_24">Kehidupan semakin berkembang. Mari persiapkan masa depan dengan teknologi bersama kami.</p>
                <div class="col-start-1 col-end-13">
                    <a class="zalepik_button_blue block py-4 px-10 zalepik_button_banner_home mx-auto inset-x-0 w-56 text-center rounded-lg" href="{{ .Site.BaseURL }}/hubungi/" target="_blank">Hubungi Kami</a>
                </div>
            </div>
            <div class="col-start-1 col-end-13">
                <img class="w-full img_home_banner_main sm:block hidden" src="https://mzainulmuttaqin.github.io/Zalepik_Images/img_hero_home.png" alt="">
                <img class="w-full img_home_banner_main sm:hidden block" src="https://mzainulmuttaqin.github.io/Zalepik_Images/img_hero_home_sm.png" alt="">
            </div>
        </div>
    </header>
{{ end }}

{{ if .Params.zvideo }}
{{ if .Params.thumbnail }}
    <div id="zcontent_paper_top" style="display: none;">
        {{/*  <img src="{{ .Params.banner }}" alt="" srcset="">  */}}
        <div>
            {{/*  <h1 class="zalepik_title_border zalepik_title_shadow_2" title="{{ .Title }}">{{ .Title }}</h1>  */}}
            <div id="zcontent_top">    
                <div id="zcontent_paper_top_penulis">
                    {{/*  <div>
                        <a href="{{ .Site.Author }}">
                            <img src="{{ .Params.banner }}" alt="" srcset="">
                        </a>
                    </div>  */}}
                    <div>
                        {{/*  <a href="{{ .Site.BaseURL }}video/{{ .Params.writer }}">{{ .Params.writer }}</a><br>  */}}
                        <a id="" class="zini_jabatan_mas_" href="{{ .Site.BaseURL }}video/{{ .Params.writer }}"></a>
                    </div>
                </div>
                {{/*  <div id="zcontent_paper_top_tanggal_dan_topik">
                    <div>
                        {{ .Date.Format "2006-01-02" }}
                    </div>
                    <a href="{{ .Site.BaseURL}}{{ .Params.topik }}">{{ .Params.topik }}</a>
                </div>  */}}
            </div>
        </div>
        <hr>
    </div>
{{ else }}
    <header>
        <div><img src="{{ .Site.BaseURL }}/dist/img/img_head_videos_md.svg" alt="" srcset="" class="w-full block md:hidden"></div>
        <div class="grid grid-cols-12 header_video">
        <div id="title_header_home" class="zalepik_wrap_large_area lg:pb-20 pb-20">
            <h1 class="col-start-1 col-end-13 lg:col-start-2 lg:col-end-8 zalepik_title text-center lg:text-left mb-0 lg:mb-16">
            <span class="zalepik_title_border zalepik_title_shadow_2" title=""></span>
            <span class="text-green-500  zalepik_title_border zalepik_title_shadow_2" title="Belajar Dengan Video Gratis">Belajar Dengan Video Gratis</span><br>
            <i class="zalepik_title_border zalepik_title_shadow_2" title="Tanpa Biaya">Tanpa Biaya</i></h1>
        </div>
        </div>
    </header>
    {{ end }}
{{ end }} 

{{ if .Params.zartikel }}
    {{ if .Params.thumbnail }}
        <div id="zcontent_paper_top">
            <img src="{{ .Params.banner }}" alt="" srcset="">
            <div>
                <h1 class="zalepik_title_border zalepik_title_shadow_2" title="{{ .Title }}">{{ .Title }}</h1>
                <div id="zcontent_top">    
                    <div id="zcontent_paper_top_penulis">
                        <div>
                            <a href="{{ .Site.BaseURL }}artikel/{{ .Params.writer }}">
                                <img src="" alt="" srcset="" class="zimg_profile">
                            </a>
                        </div>
                        <div>
                            <a href="{{ .Site.BaseURL }}artikel/{{ .Params.writer }}">{{ .Params.zname_writer }}</a><br>
                            <a id="" class="zini_jabatan_mas_" href="{{ .Site.BaseURL }}artikel/{{ .Params.writer }}"></a>
                        </div>
                    </div>
                    <div id="zcontent_paper_top_tanggal_dan_topik">
                        <div>
                            {{ .Date.Format "2006-01-02" }}
                        </div>
                        <a href="{{ .Site.BaseURL}}{{ .Params.topik }}">{{ .Params.topik }}</a>
                    </div>
                </div>
            </div>
            <hr>
        </div>
    {{ else }}
        <header>
        <div><img src="{{ .Site.BaseURL }}/dist/img/img_head_articles_md.svg" alt="" srcset="" class="w-full block md:hidden"></div>
        <div class="grid grid-cols-12 header_artikel">
        <div id="title_header_home" class="zalepik_wrap_large_area lg:pb-20 pb-20">
            <h1 class="col-start-1 col-end-13 lg:col-start-2 lg:col-end-8 text-center lg:text-left mb-0 lg:mb-16">
            <span class="text-green-500 zalepik_title_border zalepik_title_shadow_2" title=""></span>
            <span class="text-green-500 zalepik_title_border zalepik_title_shadow_2" title="Semoga">Semoga</span>
            <br>
            <i class="zalepik_title_border zalepik_title_shadow_2" title="Bermanfaat!">Bermanfaat!</i>
            </h1>
        </div>
        </div>
        </header>
    {{ end }}
{{ end }} 

{{ if .Params.zlist_writer}}
        <div id="zheader_writer">
            <div id="zcontent_top">    
                <div id="zcontent_paper_top_penulis">
                    <div>
                        <a href="{{ .Site.BaseURL }}artikel/{{ .Params.writer }}">
                            <img class="zimg_profile" src="" alt="" srcset="">
                        </a>
                    </div>
                    <div>
                        <a id="znama_penulis" href="{{ .Site.BaseURL }}artikel/{{ .Params.writer }}">{{ .Params.zname_writer }}</a><br>
                        <a id="" class="zini_jabatan_mas_" href="{{ .Site.BaseURL }}artikel/{{ .Params.writer }}"></a>
                        <div><span id="" class="zwriter_city"></span></div>
                    </div>
                </div>
                <div id="zwriter_page">
                    <a id="" href="" target="_blank" class="zwriter_social_email py-6 transition duration-100 col-start-1 col-end-13 border border-gray-500 px-4 lg:py-3 mr-0 lg:mr-2 mt-4 hover:text-white hover:border-blue-500 hover:bg-blue-500 hover:shadow-2xl">
                        <svg class="inline-block align-middle mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path fill="rgba(54, 66, 80, 0.6039215686274509)" class="svg_hover_white" d="M2.243 6.854L11.49 1.31a1 1 0 0 1 1.029 0l9.238 5.545a.5.5 0 0 1 .243.429V20a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.283a.5.5 0 0 1 .243-.429zM4 8.133V19h16V8.132l-7.996-4.8L4 8.132zm8.06 5.565l5.296-4.463 1.288 1.53-6.57 5.537-6.71-5.53 1.272-1.544 5.424 4.47z"></path>
                        </svg>
                        <span id="" class="zwriter_social_email align-middle"></span>
                    </a>
                    <a id="" href="" target="_blank" class="zwriter_cv py-6 transition duration-100 col-start-1 col-end-13 border border-gray-500 px-4 lg:py-3 mr-0 lg:mr-2 mt-4 hover:text-white hover:border-blue-500 hover:bg-blue-500 hover:shadow-2xl">
                        <svg class="mb-2 lg:mb-0 block lg:inline-block align-middle mx-auto mr-auto lg:mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
                            <path fill="none" d="M0 0h24v24H0z"></path>
                            <path class="svg_hover_white" fill="rgba(54, 66, 80, 0.6039215686274509)" d="M15 4H5v16h14V8h-4V4zM3 2.992C3 2.444 3.447 2 3.999 2H16l5 5v13.993A1 1 0 0 1 20.007 22H3.993A1 1 0 0 1 3 21.008V2.992zm9 8.508a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zM7.527 17a4.5 4.5 0 0 1 8.946 0H7.527z"></path>
                        </svg>
                        <span class="align-middle">Download my CV</span>
                    </a>
                    <a id="" href="" target="_blank" class="zwriter_social_phone py-6 transition duration-100 col-start-1 col-end-13 border border-gray-500 px-4 lg:py-3 mr-0 lg:mr-2 mt-4 hover:text-white hover:border-blue-500 hover:bg-blue-500 hover:shadow-2xl">
                        <svg class="inline-block align-middle mr-3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"></path><path d="M9.366 10.682a10.556 10.556 0 0 0 3.952 3.952l.884-1.238a1 1 0 0 1 1.294-.296 11.422 11.422 0 0 0 4.583 1.364 1 1 0 0 1 .921.997v4.462a1 1 0 0 1-.898.995c-.53.055-1.064.082-1.602.082C9.94 21 3 14.06 3 5.5c0-.538.027-1.072.082-1.602A1 1 0 0 1 4.077 3h4.462a1 1 0 0 1 .997.921A11.422 11.422 0 0 0 10.9 8.504a1 1 0 0 1-.296 1.294l-1.238.884zm-2.522-.657l1.9-1.357A13.41 13.41 0 0 1 7.647 5H5.01c-.006.166-.009.333-.009.5C5 12.956 11.044 19 18.5 19c.167 0 .334-.003.5-.01v-2.637a13.41 13.41 0 0 1-3.668-1.097l-1.357 1.9a12.442 12.442 0 0 1-1.588-.75l-.058-.033a12.556 12.556 0 0 1-4.702-4.702l-.033-.058a12.442 12.442 0 0 1-.75-1.588z" fill="rgba(54, 66, 80, 0.604)" class="svg_hover_white"></path>
                        </svg>
                        <span id="" class="zwriter_social_phone align-middle"></span>
                    </a>
                </div>
            </div>
            <hr>
            <div class="grid grid-cols-12">
                    <div class="col-start-2 col-end-12 grid lg:grid-cols-5 md:grid-cols-3 text-center pb-32 grid-cols-2 gap-y-20 items-center">
                        <div class="zalepik_category grid items-center">
                            <a id="" href="" target="_blank" class="zwriter_social_behance pb-0 box-border">
                                <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/icon-social-LinkedIn.png" alt="" class="shadow-4xl hover:shadow-img_hover no-padding redius-linkedin box-border">
                            </a>
                        </div>
                        <div class="zalepik_category">
                            <a id="" class="zwriter_social_whatsapp" href="" target="_blank">
                                <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/icon-social-whatsapp.svg" alt="">
                                <br>
                                <span>
                                    WhatsApp
                                </span>
                            </a>
                        </div>
                        <div class="zalepik_category">
                            <a id="" class="zwriter_social_dribbble" href="" target="_blank">
                                <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/icon-social-dribbble.svg" alt="">
                                <br>
                                <span>
                                    dribbble
                                </span>
                            </a>
                        </div>
                        <div class="zalepik_category">
                            <a id="" class="zwriter_social_behance" href="" target="_blank">
                                <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/icon-social-behance.svg" alt="">
                                <br>
                                <span>
                                    Behance
                                </span>
                            </a>
                        </div>
                        <div class="zalepik_category">
                            <a id="" class="zwriter_social_instagram" href="" target="_blank">
                                <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/icon-social-instagram.svg" alt="">
                                <br>
                                <span>
                                    Instagram
                                </span>
                            </a>
                        </div>
                        <!--Display None-->
                        <div class="zalepik_category" style="display: none">
                            <a id="" class="zwriter_social_github" href="" target="_blank">
                                <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/icon-social-instagram.svg" alt="">
                                <br>
                                <span>
                                    Github
                                </span>
                            </a>
                        </div>
                        <div class="zalepik_category" style="display: none">
                            <a id="" class="zwriter_social_twitter" href="" target="_blank">
                                <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/icon-social-instagram.svg" alt="">
                                <br>
                                <span>
                                    Twitter
                                </span>
                            </a>
                        </div>
                        <div class="zwriter_social_upwork" style="display: none">
                            <a id="" class="zwriter_social_github" href="" target="_blank">
                                <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/icon-social-instagram.svg" alt="">
                                <br>
                                <span>
                                    Upwork
                                </span>
                            </a>
                        </div>
                        <div class="zalepik_category" style="display: none">
                            <a id="" class="zwriter_social_fiverr" href="" target="_blank">
                                <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/icon-social-instagram.svg" alt="">
                                <br>
                                <span>
                                    Fiverr
                                </span>
                            </a>
                        </div>
                        <div class="zalepik_category" style="display: none">
                            <a id="" class="zwriter_social_facebook" href="" target="_blank">
                                <img src="https://mzainulmuttaqin.github.io/Zalepik_Images/icons/icon-social-instagram.svg" alt="">
                                <br>
                                <span>
                                    Facebook
                                </span>
                            </a>
                        </div>
                    </div>
            </div>
            <hr>
        </div>
{{ end }}
<!-- End Header -->