{{ if .Params.other_language }}
    {{ if .Params.arabic }}
        <nav class="zalepik_nav">
            <div class="zalepik_wrap_nav">
                <div class="zalepik_wrap_logo text-center">
                    <a href="{{ .Site.BaseURL }}"><img src="https://zenzalepik.github.io/Zalepik_Images/logo-color-small.svg" alt="Logo Zalepik"></a>
                    <a href="{{ .Site.BaseURL }}" class="">{{ .Site.Title }}</a>
                </div>
                <ul class="zalepik_wrap_menu_nav">
                </ul>
                <div class="zalepik_menu zalepik_button px-3 lg:hidden block fixed right-0">
                </div>
            </div>
        </nav>
    {{ else if .Params.english }}
        <nav class="zalepik_nav">
            <div class="zalepik_wrap_nav">
                <div class="zalepik_wrap_logo text-center">
                    <a href="{{ .Site.BaseURL }}"><img src="https://zenzalepik.github.io/Zalepik_Images/logo-color-small.svg" alt="Logo Zalepik"></a>
                    <a href="{{ .Site.BaseURL }}" class="">{{ .Site.Title }}</a>
                </div>
                <ul class="zalepik_wrap_menu_nav">
                    <li class="zalepik_menu ml-6 zalepik_button px-3">
                        <a class="zalepikDropwonButton" href="{{ .Site.BaseURL }}/english/contact_us/">
                            <span class="inline-block text-black">
                                Contact Us
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="zalepik_menu zalepik_button px-3 lg:hidden block fixed right-0">
                    <a class="zalepikDropwonButton" href="{{ .Site.BaseURL }}/english/contact_us/">
                        <span class="inline-block text-black">
                            Contact Us
                        </span>
                    </a>
                </div>
            </div>
        </nav>
    {{ end }}
{{ else if or (.Params.zprofile) (.Params.zabout) }}
    <nav class="zalepik_nav shadow-none static bg-opacity-0 block grid grid-cols-12 w-full">
        <div class="grid grid-cols-12 col-start-2 col-end-12 items-center">
        <div class="col-start-1 sm:col-end-6 col-end-4 text-sm text-DEFAULT">
        <a class="align-middle inline-block mr-2" href="{{ .Site.BaseURL }}"><img class="" src="https://zenzalepik.github.io/Zalepik_Images/logo-color-small-zen.png" alt="Logo Zalepik"></a>
        <a href="{{ .Site.BaseURL }}" class="hidden sm:inline-block align-middle">Zalepik</a>
        </div>
        <ul class="text-right col-start-4 sm:col-start-6 col-end-13">
        <li class="zalepik_menu hover:text-blue-500 border border-gray-500 sm:border-cyan_gray"><a href="{{ .Site.BaseURL }}/artikel/{{ .Params.writer }}/">Blog</a></li>
        <li class="zalepik_menu hover:text-blue-500 border border-gray-500 sm:border-cyan_gray"><a href="{{ .Site.BaseURL }}/profile/{{ .Params.writer }}/">Tentang Penulis</a></li>
        <li class="inline-block">
        <a class="zalepik_menu ml-3 lg:ml-6 zalepik_button button-outline bg-opacity-0 border border-gray-500 hover:border-0 hover:border-blue-500 text-DEFAULT hover:text-white" href="#contact">Contact</a></li>
        </ul>
        </div>
    </nav>
{{ else }}
    {{ if .Params.hello_zain }}
    {{ else if .Params.hello }}
    {{ else }}
    <nav class="zalepik_nav">
            <div class="zalepik_wrap_nav">
                <div class="zalepik_wrap_logo">
                    <a href="{{ .Site.BaseURL }}"><img src="https://zenzalepik.github.io/Zalepik_Images/logo-color-small.svg" alt="Logo Zalepik"></a>
                    <a href="{{ .Site.BaseURL }}" class="">{{ .Site.Title }}</a>
                </div>
                <ul class="zalepik_wrap_menu_nav">
                    <li class="zalepik_menu hover:text-blue-500"><a href="{{ .Site.BaseURL }}">Beranda</a></li>
                    <li class="zalepik_menu hover:text-blue-500"><a href="{{ .Site.BaseURL }}/layanan/">Layanan</a></li>
                    <li class="zalepik_menu hover:text-blue-500"><a href="{{ .Site.BaseURL }}/gratisan/">Gratisan</a></li>
                    <li class="zalepik_menu hover:text-blue-500"><a href="{{ .Site.BaseURL }}/artikel/">Artikel</a></li>
                    <li class="zalepik_menu ml-6 zalepik_button px-3">
                        <a class="zalepikDropwonButton" onclick="zalepikDropwonFunction()">
                            <img class="inline-block pr-2" src="https://zenzalepik.github.io/Zalepik_Images/icons/icon-language-indonesian.svg" alt="Indonesia">
                            <span class="inline-block text-black">
                                Indonesia
                            </span>
                            <svg class="inline-block pl-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z" fill="rgba(255,255,255,1)"/></svg>
                        </a>
                        <div id="zalepikDropdown" class="zalepik_dropdown_bahasa_wrap zalepikContent">
                            <a href="{{ .Site.BaseURL }}/arabic/" class="zalepik_dropdown_bahasa zalepik_button_icon hover:shadow-xl hover:border-blue-500 hover:text-blue-500">
                                <img class="inline-block pr-2" src="https://zenzalepik.github.io/Zalepik_Images/icons/arabic/arabic.svg" alt="Arabic">
                                <span class="inline-block text-black">
                                    Arabic
                                </span>
                            </a>
                            <a href="{{ .Site.BaseURL }}" class="zalepik_dropdown_bahasa zalepik_button_icon hover:shadow-xl hover:border-blue-500 hover:text-blue-500">
                                <img class="inline-block pr-2" src="https://zenzalepik.github.io/Zalepik_Images/icons/icon-language-indonesian.svg" alt="Indonesia">
                                <span class="inline-block text-black">
                                    Indonesia
                                </span>
                            </a>
                            <a href="{{ .Site.BaseURL }}/english/" class="zalepik_dropdown_bahasa zalepik_button_icon hover:shadow-xl hover:border-blue-500 hover:text-blue-500">
                                <img class="inline-block pr-2" src="https://zenzalepik.github.io/Zalepik_Images/icons/icon-language-english.svg" alt="English">
                                <span class="inline-block text-black">
                                English
                            </span>
                            </a>
                        </div>
                    </li>
                </ul>
                <img class="zalepik_drawer" src="https://zenzalepik.github.io/Zalepik_Images/icons/icon-drawer_menu.svg" alt="" srcset="">
            </div>
            <div class="zalepik_menu_drawer">
                <a class="zalepikDropwonButton" onclick="zalepikDropwonFunction2()">
                    <img class="inline-block" src="https://zenzalepik.github.io/Zalepik_Images/icons/icon-language-indonesian.svg" alt="Indonesia">
                    <span class="inline-block text-black">
                        Indonesia
                    </span>
                    <svg class="inline-block" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 15l-4.243-4.243 1.415-1.414L12 12.172l2.828-2.829 1.415 1.414z" fill="#25D5E8"/></svg>
                </a>
                <div id="zalepikDropdown2" class="zalepik_dropdown_bahasa_wrap zalepikContent2">
                    <a href="{{ .Site.BaseURL }}/arabic/" class="zalepik_dropdown_bahasa zalepik_button_icon hover:shadow-xl hover:border-blue-500 hover:text-blue-500">
                        <img class="inline-block pr-2" src="https://zenzalepik.github.io/Zalepik_Images/icons/arabic/arabic.svg" alt="Arabic">
                        <span class="inline-block text-black">
                            Arabic
                        </span>
                    </a>
                    <a href="{{ .Site.BaseURL }}" class="zalepik_dropdown_bahasa zalepik_button_icon hover:shadow-xl hover:border-blue-500 hover:text-blue-500">
                        <img class="inline-block pr-2" src="https://zenzalepik.github.io/Zalepik_Images/icons/icon-language-indonesian.svg" alt="Indonesia">
                        <span class="inline-block text-black">
                            Indonesia
                        </span>
                    </a>
                    <a href="{{ .Site.BaseURL }}/english/" class="zalepik_dropdown_bahasa zalepik_button_icon hover:shadow-xl hover:border-blue-500 hover:text-blue-500">
                        <img class="inline-block pr-2" src="https://zenzalepik.github.io/Zalepik_Images/icons/icon-language-english.svg" alt="English">
                        <span class="inline-block text-black">
                        English
                    </span>
                    </a>
                </div>
            </div>
        </nav>
        <!-- End Nav -->
        <ul class="zalepik_wrap_menu_nav_drawer invisible">
            <img class="zalepik_drawer_close" src="https://zenzalepik.github.io/Zalepik_Images/icons/icon-drawer-close.svg" alt="" srcset="">
            <li class="zalepik_menu hover:text-blue-500"><a href="{{ .Site.BaseURL }}">Beranda</a></li>
            <li class="zalepik_menu hover:text-blue-500"><a href="{{ .Site.BaseURL }}/layanan/">Layanan</a></li>
            <li class="zalepik_menu hover:text-blue-500"><a href="{{ .Site.BaseURL }}/gratisan/">Gratisan</a></li>
            <li class="zalepik_menu hover:text-blue-500"><a href="{{ .Site.BaseURL }}/artikel/">Artikel</a></li>
            <li class="zalepik_menu ml-6 zalepik_button"><a href="{{ .Site.BaseURL }}/hubungi/" target="_blank">Hubungi Kami</a></li>
        </ul>
    {{ end }}
{{ end }}

<div id="zBaseUrl" style="height: 0px; width: 0px; opacity:0">{{ .Site.BaseURL }}</div>
<script>
    var zUrl = window.location.href;
    var zBeranda = document.getElementById("zBaseUrl").innerHTML;
    const zMenu = document.getElementsByClassName("zalepik_menu");


        if (zUrl == zBeranda){
            zMenu[0].classList.add("text-blue-500");
            zMenu[5].classList.add("text-blue-500");
        }
        else if (zUrl == zBeranda + "layanan/"){
            zMenu[1].classList.add("text-blue-500");
            zMenu[6].classList.add("text-blue-500");
        }
        else if (zUrl == zBeranda + "gratisan/"){
            zMenu[2].classList.add("text-blue-500");
            zMenu[7].classList.add("text-blue-500");
        }
        else if (zUrl == zBeranda + "artikel/"){
            zMenu[3].classList.add("text-blue-500");
            zMenu[8].classList.add("text-blue-500");
        }
        else{
            console.log("Ini Bukan Halaman di Menu Navigasi");
        }
</script>