<div>
    <div class="zalepik_wrap_title_section">
        <div id="title_header_home" class="zalepik_wrap_large_area text-center z_slider">
          <h1 class="col-start-1 col-end-13 zalepik_title_border zalepik_title_shadow_2" title="Karya Kami">Hal-Hal yang Mungkin Ditanyakan</h1>
        </div>
    <p></p>
    <button class="accordion">Cara Pesan Jasa Pembuatan Website di Zalepik Bagaimana Ya?</button>
    <div class="panel">
        <p>Pilih paket yang Anda inginkan, kemudian isi data pada form yang sudah disediakan, kemudian tinggal kirim.
            Atau untuk proses lebih cepat silahkan hubungi admin kami melalui whatsapp.</p>
    </div>

    <button class="accordion">Apakah Saya Perlu Membeli Domain Dulu Sebelum Memesan Website di Zalepik?</button>
    <div class="panel">
        <p>Tidak perlu, paket jasa pembuatan website yang sudah anda beli di Zalepik sudah termasuk fasilitas gratis
            pembelian domain. Menarik bukan?</p>
    </div>

    <button class="accordion">Saya sudah terlanjur membeli Domain di Tempat Lain, Apakah Domain Tersebut Masih Bisa
        Digunakan Pada Saat Memesan Website di Zalepik?</button>
    <div class="panel">
        <p>Tentu saja bisa, kami tidak membatasi pelanggan untuk membeli domain di tempat lain. Namun akan sangat
            disayangkan bila fasilitas gratis domain dari Zalepik tidak diambil.</p>
    </div>

    <button class="accordion">Apakah Saya Mendapat Bonus Gratis Domain Email Untuk Perusahaan Saya?</button>
    <div class="panel">
        <p>Benar sekali, setiap pemesanan website di Zalepik akan otomatis mendapatkan fasilitas gratis email bisnis.
            Seperti alamatemail@perusahaananda.com. Anda juga bisa melihat bonus hadiah gratis lain yang bisa anda
            dapatkan bila memesan website di Zalepik, silahkan lihat kembali di bagian link berikut.</p>
    </div>

    <button class="accordion">Saya Sangat Khawatir Kalau Website Saya Terjadi Error Atau Pembajakan Oleh Pihak
        Tertentu</button>
    <div class="panel">
        <p>Tenang... Kami memberikan fasilitas gratis support dan maintenance ketika terjadi sesuatu pada website Anda.
            Silahkan hubungi kami melalui whatsapp, permasalahan anda akan kami bantu.</p>
    </div>

    <button class="accordion">Saya Bingung Bagaimana Saya Menyusun Website dari Nol (0), Tapi Saya Sangat Ingin Punya
        Website. Bolehkah saya berkonsultasi?</button>
    <div class="panel">
        <p>Dengan senang hati kami akan membantu, santai saja. Hubungi kami melalui whatsapp.</p>
    </div>

    <button class="accordion">Apakah Website Saya Nanti Bisa Menampilkan Daftar Artikel/Portofolio/Produk?</button>
    <div class="panel">
        <p>Wah... Tentu bisa dong, itu hal yang mudah.</p>
    </div>

    <button class="accordion">Saya Butuh Website Dengan Fitur/Sistem Khusus, Apakah Zalepik Bisa Melayani?</button>
    <div class="panel">
        <p>Kami juga mengembangkan aplikasi berbasi desktop dan mobile Android/iOS. Mari berdiskusi bersama tim kami
            untuk pemesanan website atau aplikasi dengan fitur khusus.</p>
    </div>
    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        
        for (i = 0; i < acc.length; i++) {
          acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
          });
        }
        </script>
</div>