<div class="zalepik_wrap_title_section">
    <div id="title_header_home" class="zalepik_wrap_large_area text-center">
        <h1 class="col-start-1 col-end-13 zalepik_title_border zalepik_title_shadow_2" title="Karya Kami">Karya Kami</h1>
    </div>
    <a href="https://www.behance.net/gallery/119182661/USG-Website"
        class="zalepik_galery mb-12 col-start-2 col-end-12 block" target="_blank">
        <img class="zalepik_image_galery w-full md:block hidden" src="https://zenzalepik.github.io/Zalepik_Images/portfolio/zalepik_portfolio_usg.png">
        <img class="zalepik_image_galery w-full block md:hidden" src="https://zenzalepik.github.io/Zalepik_Images/portfolio/zalepik_portfolio_usg_sm.png">
    </a>
    <a href="https://www.behance.net/gallery/122360945/Try-It-IRO-Color-Inspect-Zalepik-NyanDevId"
        class="zalepik_galery mb-12 col-start-2 col-end-12 block" target="_blank">
        <img class="zalepik_image_galery w-full md:block hidden" src="https://zenzalepik.github.io/Zalepik_Images/portfolio/zalepik_portfolio_iro.png">
        <img class="zalepik_image_galery w-full block md:hidden" src="https://zenzalepik.github.io/Zalepik_Images/portfolio/zalepik_portfolio_iro_sm.png">
    </a>
    <a href="https://www.behance.net/gallery/122363789/Zenvideo-Redesign-Levideo-Website-By-Zalepik"
        class="zalepik_galery mb-12 col-start-2 col-end-12 block" target="_blank">
        <img class="zalepik_image_galery w-full md:block hidden" src="https://zenzalepik.github.io/Zalepik_Images/portfolio/zalepik_portfolio_zenvideo.png">
        <img class="zalepik_image_galery w-full block md:hidden" src="https://zenzalepik.github.io/Zalepik_Images/portfolio/zalepik_portfolio_zenvideo_sm.png">
    </a>
</div>