<a id="zfooter_writer" style="display: none;">{{ .Params.writer }}</a>
<script>
    var zfooter_writer = document.getElementById("zfooter_writer").innerHTML;
    var zimg_profile = document.querySelectorAll(".zimg_profile");
    var zwriter_city = document.querySelectorAll(".zwriter_city");
    var zwriter_role = document.querySelectorAll(".zini_jabatan_mas_");
    var zwriter_cv = document.querySelectorAll(".zwriter_cv");
    var zwriter_social_dribbble = document.querySelectorAll(".zwriter_social_dribbble");
    var zwriter_social_linkedin = document.querySelectorAll(".zwriter_social_linkedin");
    var zwriter_social_behance = document.querySelectorAll(".zwriter_social_behance");
    var zwriter_social_whatsapp = document.querySelectorAll(".zwriter_social_whatsapp");
    var zwriter_social_instagram = document.querySelectorAll(".zwriter_social_instagram");
    var zwriter_social_facebook = document.querySelectorAll(".zwriter_social_facebook");
    var zwriter_social_email = document.querySelectorAll(".zwriter_social_email");
    var zwriter_social_email_span = document.querySelectorAll("span.zwriter_social_email");
    var zwriter_social_phone = document.querySelectorAll(".zwriter_social_phone");
    var zwriter_social_phone_span = document.querySelectorAll("span.zwriter_social_phone");
    var zwriter_social_twitter = document.querySelectorAll(".zwriter_social_twitter");
    var zwriter_social_github = document.querySelectorAll(".zwriter_social_github");
    var zwriter_social_upwork = document.querySelectorAll(".zwriter_social_upwork");
    var zwriter_social_fiverr = document.querySelectorAll(".zwriter_social_fiverr");
    
    if (zfooter_writer == "Zain"){
        for (let i = 0; i < zimg_profile.length; i++) {
        zimg_profile[i].src = "https://zenzalepik.github.io/Zalepik_Images/logo-color-small-zen.png";
          }
        for (let i = 0; i < zwriter_city.length; i++) {
            zwriter_city[i].innerHTML = "Jombang, Jawa Timur";
          }
        for (let i = 0; i < zwriter_role.length; i++) {
            zwriter_role[i].innerHTML = "UI/UX Engineer";
          }
        for (let i = 0; i < zwriter_cv.length; i++) {
            zwriter_cv[i].href = "https://drive.google.com/file/d/1IR81NLALAMVY6_8opslZWABZ68OBdejr/view?usp=sharing";
        }
        for (let i = 0; i < zwriter_social_dribbble.length; i++) {
            zwriter_social_dribbble[i].href = "https://www.dribbble.com/zalepik";
        }
        for (let i = 0; i < zwriter_social_linkedin.length; i++) {
            zwriter_social_linkedin[i].href = "https://www.linkedin.com/in/moh-zainul-muttaqin-zalepik-52382a171/";
        }
        for (let i = 0; i < zwriter_social_behance.length; i++) {
            zwriter_social_behance[i].href = "https://www.behance.net/zalepik";
        }
        for (let i = 0; i < zwriter_social_whatsapp.length; i++) {
            zwriter_social_whatsapp[i].href = "https://api.whatsapp.com/send?phone=6285720075826&amp;text=&amp;source=&amp;data=";
        }
        for (let i = 0; i < zwriter_social_instagram.length; i++) {
            zwriter_social_instagram[i].href = "https://www.instagram.com/zalepik_studio/";
        }
        for (let i = 0; i < zwriter_social_facebook.length; i++) {
            zwriter_social_facebook[i].href = "";
        }
        for (let i = 0; i < zwriter_social_email.length; i++) {
            zwriter_social_email[i].href = "mailto:" + "mzainulmuttaqin@outlook.com";
        }
        for (let i = 0; i < zwriter_social_email_span.length; i++) {
            zwriter_social_email_span[i].innerHTML = "mzainulmuttaqin@outlook.com";
        }
        for (let i = 0; i < zwriter_social_phone.length; i++) {
            zwriter_social_phone[i].href = "tel:6285720075826";
        }
        for (let i = 0; i < zwriter_social_phone_span.length; i++) {
            zwriter_social_phone_span[i].innerHTML = "+" + "6285720075826";
        }
        for (let i = 0; i < zwriter_social_twitter.length; i++) {
            zwriter_social_twitter[i].href = "";
        }
        for (let i = 0; i < zwriter_social_github.length; i++) {
            zwriter_social_github[i].href = "https://github.com/mzainulmuttaqin/";
        }
        for (let i = 0; i < zwriter_social_upwork.length; i++) {
            zwriter_social_upwork[i].href = "";
        }
        for (let i = 0; i < zwriter_social_fiverr.length; i++) {
            zwriter_social_fiverr[i].href = "";
        }
    }
    else if (zfooter_writer == "Heri"){
        for (let i = 0; i < zimg_profile.length; i++) {
            zimg_profile[i].src = "https://zenzalepik.github.io/Zalepik_Images/profiles/zalepik_writer_Heri_Wahyudiono.png";
          }
        for (let i = 0; i < zwriter_city.length; i++) {
        zwriter_city[i].innerHTML = "Bandar Lampung";
          }
        for (let i = 0; i < zwriter_role.length; i++) {
            zwriter_role[i].innerHTML = "FrontEnd Developer | Mahasiswa";
          }
        for (let i = 0; i < zwriter_cv.length; i++) {
            zwriter_cv[i].href = "https://heriwahyudiono.github.io/cv/";
        }
        for (let i = 0; i < zwriter_social_dribbble.length; i++) {
            zwriter_social_dribbble[i].href = "";
        }
        for (let i = 0; i < zwriter_social_linkedin.length; i++) {
            zwriter_social_linkedin[i].href = "";
        }
        for (let i = 0; i < zwriter_social_behance.length; i++) {
            zwriter_social_behance[i].href = "";
        }
        for (let i = 0; i < zwriter_social_whatsapp.length; i++) {
            zwriter_social_whatsapp[i].href = "https://wa.me/6285609839193";
        }
        for (let i = 0; i < zwriter_social_instagram.length; i++) {
            zwriter_social_instagram[i].href = "https://instagram.com/heri.wahyudiono";
        }
        for (let i = 0; i < zwriter_social_facebook.length; i++) {
            zwriter_social_facebook[i].href = "";
        }
        for (let i = 0; i < zwriter_social_email.length; i++) {
            zwriter_social_email[i].href = "mailto:" + "heriwhydiono@gmail.com";
        }
        for (let i = 0; i < zwriter_social_email_span.length; i++) {
            zwriter_social_email_span[i].innerHTML = "mzainulmuttaqin@outlook.com";
        }
        for (let i = 0; i < zwriter_social_phone.length; i++) {
            zwriter_social_phone[i].href = "tel:6285609839193";
        }
        for (let i = 0; i < zwriter_social_phone_span.length; i++) {
            zwriter_social_phone_span[i].innerHTML = "+" + "6285720075826";
        }
        for (let i = 0; i < zwriter_social_twitter.length; i++) {
            zwriter_social_twitter[i].href = "";
        }
        for (let i = 0; i < zwriter_social_github.length; i++) {
            zwriter_social_github[i].href = "https://github.com/heriwahyudiono";
        }
        for (let i = 0; i < zwriter_social_upwork.length; i++) {
            zwriter_social_upwork[i].href = "";
        }
        for (let i = 0; i < zwriter_social_fiverr.length; i++) {
            zwriter_social_fiverr[i].href = "";
        }
    }
    else {
        console.log("")
    }
</script>