<div style="display: none">
    <div class="zfooter_writer"></div>
    <div class="zimg_profile"></div>
    <div class="zwriter_city"></div>
    <div class="zini_jabatan_mas_"></div>
    <div class="zwriter_cv"></div>
    <div class="zwriter_social_dribbble"></div>
    <div class="zwriter_social_linkedin"></div>
    <div class="zwriter_social_behance"></div>
    <div class="zwriter_social_whatsapp"></div>
    <div class="zwriter_social_instagram"></div>
    <div class="zwriter_social_facebook"></div>
    <div class="zwriter_social_email"></div>
    <span class="zwriter_social_email"></span>
    <div class="zwriter_social_phone"></div>
    <span class="zwriter_social_phone"></span>
    <div class="zwriter_social_twitter"></div>
    <div class="zwriter_social_github"></div>
    <div class="zwriter_social_upwork"></div>
    <div class="zwriter_social_fiverr"></div>
</div>