{{ if .Params.hello }}
{{ else }}
    <div class="sm:mx-10 mx-2 sm:my-20 my-2 rounded-3xl zalepik_wrap_title_section pb-0 zalepik_bg_subscribe">
        <div id="title_header_home" class="zalepik_wrap_large_area text-center pb-0">
            <svg class="inline-block align-middle mx-auto mb-8 col-span-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="56" height="56">
                <path fill="none" d="M0 0h24v24H0z"></path>
                <path fill="rgba(255, 255, 255, 1)" class="svg_hover_white" d="M2.243 6.854L11.49 1.31a1 1 0 0 1 1.029 0l9.238 5.545a.5.5 0 0 1 .243.429V20a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V7.283a.5.5 0 0 1 .243-.429zM4 8.133V19h16V8.132l-7.996-4.8L4 8.132zm8.06 5.565l5.296-4.463 1.288 1.53-6.57 5.537-6.71-5.53 1.272-1.544 5.424 4.47z"></path>
            </svg>
            <br>
            <h1 class="col-start-2 col-end-12 zalepik_title_border text-white sm:mb-2 mb-0 zalepik_title_shadow_2 no_after" title="Jangan Lewatkan">Jangan Lewatkan</h1>
            <h1 class="col-start-2 col-end-12 zalepik_title_border text-white sm:mb-2 mb-0 zalepik_title_shadow_2 no_after" title="Promo dan Info Menarik">Promo dan Info Menarik</h1>
            <h1 class="col-start-1 col-end-13 zalepik_title_border text-white zalepik_title_shadow" title="Dari Kami">Dari Kami</h1>
            <p class="col-start-1 col-end-13 mt-8 zalepik_line_height_24 text-cyan_gray">Mari berlangganan email dari kami. 
            <br>Kami akan mengabari anda sewaktu-waktu saat promo atau info sudah terbit.</p>
        </div>
        <form class="zalepik_form_contact mt-8 mb-10 grid grid-cols-12 col-span-12 px-8 gap-4" action="https://formspree.io/f/xknedvee" method="POST">
            <input class="zalepik_input zalepik_subscribe row-auto input_text _replayto" type="email" name="email" placeholder="alamatemail@anda.com" required>
            <input class="zalepik_input zalepik_subscribe row-auto input_text _replayto" type="tel" name="whatsapp" placeholder="nomor whatsapp (optional)">
            <input class="sm:col-start-5 sm:col-end-9 col-start-2 col-end-12 py-5 px-4 mt-8 mb-12 input_submit zalepik_button hover:bg-yellow-500" type="submit" value="Mulai Berlangganan">
        </form>
    </div>
{{ end }}